/*

*/

html {
	background:url(background.png) repeat;
}

body {
	background:transparent;
	color:#ccc;
	text-shadow: 0px 0px 0px #000;
	font-family:"Droid Sans","Trebuchet MS","Helvetica","Arial",sans-serif;
	font-weight:normal;
	text-align:center;
}

#Body {
	margin:0 auto;
}

#container-wrap{
	width:100%;
	margin:auto;
}

#bg {
	background: url(bdy-bg.png) repeat-y;
	width:1040px;
	margin:0 auto;
	padding:0;
}

#container {
	margin:0 auto;
	width:960px;
	background:#1f1f1f;
	border:0px solid #000;
}

a, a:link, a:visited, a:active {
	color:#ccc;
	font-weight:bold;
}

a:hover{
	color:#447BB3;

}

h1, h2, h3, h4, h5, h6 {
	color: #ccc;
	font-family: "Helvetica Neue",Helvetica,arial,sans-serif;
	font-weight: normal;
	margin: 0;
}

div.Box h4 {
	color:#fff;
}

a.BigButton {
	-moz-box-shadow:0 0 0px #fff;
	background:#447BB3;
	border:1px solid #045DCD;
	color:#fff;
	text-shadow:0 1px 0 #376d01;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	background-image: -webkit-gradient(
	    linear,
	    left bottom,
	    left top,
	    color-stop(0, rgb(43,89,135)),
	    color-stop(1, rgb(61,143,219))
	);
	background-image; -moz-linear-gradient(
	    center bottom,
	    rgb(43,89,135) 0%,
	    rgb(61,143,219) 100%
	);
	
}

a.BigButton:hover {
	color: #fff;
   	border:1px solid #045DCD;
	box-shadow: 0 0 10px #447BB3;
	-moz-box-shadow:0 0 10px #447BB3;
	-webkit-box-shadow:0 0 10px #447BB3;	  
}
a.BigButton:focus {
    background: #447BB3;
	color: #fff;
	box-shadow: 0;
	-moz-box-shadow:0 0 0px #fff;
	  
}

input.Button {
	font-size:12px;
	font-weight:bold;
}

#AttachFileLink {
	cursor:pointer;
}

a.Button,
.Button, #AttachFileLink {
   cursor: pointer;
   margin: 0;
   font-size: 11px;
   padding: 5px;
   margin-left:3px;
   margin-right:3px;
   background:#4a4a4a;
   color: #ababab;
	text-shadow: 0 0px 0 #fff;
   border: 0px solid #999;
   -moz-border-radius: 3px;
   -webkit-border-radius: 3px;
	box-shadow: 0px 0px 0px #4a4a4a;
	-moz-box-shadow: 0px 0px 0px #4a4a4a;
	-webkit-box-shadow: 0px 0px 0px #4a4a4a;  
   }

.Button:hover, #AttachFileLink {
   color: #fff;
   border: 0px solid #ababab;
}
.Button:focus {
   background: #447BB3;
}

ul.DataList a.Delete {
	padding: 4px;
    background: none;
    color: #ababab;
    border: 1px solid #ababab;
}

ul.DataList a.Delete:hover {
    color: #fff;
    border: 1px solid #ccc;
    background: none;
}

div.Box {
	-moz-box-shadow:0 0 0px #fff;
}

/* ============================================================= Header */

#Head {
	background:#1e1e1e;
	padding:0;
	text-align:right;
	height:230px;
}

body #Head h1 {
	
	margin:0px 0 0 20px;
	padding:0;
}

div#t-right {
	float:right;
	position:relative;
	width:488px;
	z-index:5;
}

div#t-right p.intro {
	color:#464748;
	font-size:1.9em;
	line-height:1.4em;
	margin:55px 70px 0 0;
	text-align:left;
}

div.Menu {
	text-align:left;
}

ul#Menu {
	float:left;
	padding:0;
}

#Head h1.Title a{
	color:#447BB3;
	font-size:3em;
}

#Head h1 {
	height:175px;
}

div.Menu {
	float:left;
	margin:24px 0 0 20px;  /*finns nog en smartare lösning än 24px margin här, men x) */
	text-align:left;
	width:960px;
	border-bottom:3px
	position:absolute;
}

#Head h1.Title a:hover{
	color:#376d01;
	font-size:3em;
}

#Menu a {
	color:#fff;
}

#Menu li.Highlight a {
	border-bottom:3px solid #fff;
}

#Menu li a:hover,#Menu li.Highlight a:hover {
	background:none;
	border-bottom:3px solid #447BB3;
}

#Menu li ul li a:hover,#Menu li.Highlight ul li a:hover {
	background:none;
	border-bottom:3px solid #447BB3;
}

#Menu ul, #Menu li.Active {
	background:#f2f2f2;
	color:#ababab;
}

#Menu li.NonTab, #Menu li.NonTab a {
	-moz-border-radius-bottomleft:3px;
	-moz-border-radius-bottomright:3px;
	-moz-border-radius-topleft:3px;
	-moz-border-radius-topright:3px;
	background:#c4c4c4;
	color:#ababab;
}

#Menu a span, #Menu li.Active a span, #Menu li.Highlight a:hover span {
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
	background:#447BB3;
	border:1px solid #447BB3;
	color:#fff;
}

div.Preview {
	background:none;
	width:770px;
	float:right;
	padding-left:10px;
	border-left:1px solid #4a4a4a;
	clear:both;
}

div.Buttons {
	clear:both;
}

/* ============================================================= Entry Screen */
body.Entry #Content {
	float:left;
	width:380px;
}
body.Entry #Content h1 {
    font-size:19px;
	font-weight:normal;
	line-height:22px;
	padding:20px 0 5px 5px;
	font-family:Arial,Helvetica,sans-serif;
	color:#ababab;
}

body.Entry #Search{
	padding:0 0 7px 7px;
}

body.Entry #Content div.Box {
	padding:10px;
	background:#2f2f2f none repeat scroll 0 0;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	display:block;
	border: 0;
}
body.Entry form ul li label {
	color:#ababab;
}

/* ============================================================= content */


#Content {
	float:left;
	margin:0 0 40px;
	padding:15px 10px 20px;
	width:670px;
}

#DiscussionContent {
	float:left;
	margin:0 0 40px;
	padding:15px 10px 20px;
	width:940px;
}

div.MessageForm, div.Tabs {
	padding:10px;
	background:#2f2f2f none repeat scroll 0 0;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	display:block;
	margin-bottom:30px;
	border-bottom: 0;
}

a.Active, div.Content div.Tabs ul li.Active a:active {
	background:#FFFFFF;
	color:#fff;
}

div.MessageForm a.Cancel, div.MessageForm a.Cancel:link, div.MessageForm a.Cancel:active, div.MessageForm a.Cancel:visited, div.MorePager a, div.MorePager a:link,  div.MorePager a:active, div.MorePager a:visited, a.TabLink, a.TabLink:link,  a.TabLink:active, a.TabLink:visited, div.Tabs li a, div.Tabs li a:link, div.Tabs li a:active, div.Tabs li a:visited {
	background:#4a4a4a;
	border:0px solid #c4c4c4;
	font-size:12px;
	color:#ababab;
}

div.Message h1, div.Message h2, div.Message h3, div.Message h4, div.Message h5 {
	color:#ccc;
}

div.Message h2 {
	font-size:18px;
}

div.Message h3 {
	font-size:16px;
}

a.Active, div.Tabs li.Active a {
	color:#fff;
}

div.MessageForm a.Cancel:hover, div.MorePager a:hover, a.TabLink:hover, div.Tabs li a:hover {
	background:#4a4a4a;
	border:0px solid #c4c4c4;
	font-size:12px;
	color:#fff;
}

ul.MessageList li.Item {
	border-bottom:0px solid #e1e1e1; /* stupid override? check. */
	padding:0;
}

ul.DataList li.Item {
	border-bottom:0px solid #e1e1e1; /* stupid override? check. */
	margin:0;
	padding:4px 4px 10px 4px;
}

ul.DataList li.Item a {
	color:#fff; /* stupid override? check. */
}

.Mine {
	background:none;
}

ul.DataList a.Title {
	font-size:19px;
	font-weight:normal;
	line-height:22px;
	padding:7px 0 5px;
	font-family:Arial,Helvetica,sans-serif;
	color:#ababab;
}

div.Tabs li a span {
	background:#447BB3;
	color:#fff;
}

div.Tabs div.SubTab {
	background:none;
}

ul.DataList div.Meta {
	color:#aaa;
}

ul.DataList div.Meta strong {
	background:#447BB3;
	color:#fff;
}

ul.DataList div.Meta span.Announcement {
	background:#447BB3;
	color:#fff;
}

ul.DataList div.Meta a.Category, ul.DataList li.Mine div.Meta a.Category {
	background:none;
	font-weight:bold;
		
}

ul.Options li.Parent strong {
	background:#f2f2f2;
	border:1px solid #ddd;
	color:#ababab;
}

ul.Options li.Parent strong:hover,
ul.Options li.Active strong:hover,
ul.Options li.Active strong,#001D26
ul.Options li.Active ul {
  	box-shadow: 0px 0px 0px #fff;
	-moz-box-shadow: 0 0 0px #fff;
	-webkit-box-shadow: 0px 0px 0px #fff;     
}

a.Bookmark,
a.Bookmarking {
	float: right;
   display: block;
   color:#FFF;
   background:none;
   height: 22px;
   width: 22px;
   margin: 2px 4px 0 4px;
}
a.Bookmark span,
a.Bookmarking span {
   display: inline;
}
a.Bookmarked {
   background:none;
   color:#F00;
}
a.Bookmarking {
   background:none;
   color:#F00;
}

/* ============================================================= bbcode */

div.Preview div.Message blockquote, ul.MessageList div.Message blockquote, div.Message blockquote {
	background:#4a4a4a url(quotation.png) top left no-repeat;
	padding-left:60px;

	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}

div.Message code, div.Message pre, div.Preview div.Message code, div.Preview div.Message pre, ul.MessageList div.Message code, ul.MessageList div.Message pre {
	background:#4a4a4a url(code.png) top left no-repeat;
	padding-left:60px;
	border:0;
	min-height:40px;
}

/* ============================================================= blog */

div.BlogCommentCount, div.BiggestButton {
	font-size: 12px;
	padding-bottom:5px;
	width:640px;
	text-align:right;
}

a.BlogCommentCount, a.BiggestButton, div.BiggestButton a {
	padding:10px;
	width:100%;
	
	-moz-box-shadow:0 0 0px #fff;
	background:#447BB3;
	border:1px solid #045DCD;
	color:#fff;
	text-shadow:0 1px 0 #376d01;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	background-image: -webkit-gradient(
	    linear,
	    left bottom,
	    left top,
	    color-stop(0, rgb(43,89,135)),
	    color-stop(1, rgb(61,143,219))
	);
	background-image; -moz-linear-gradient(
	    center bottom,
	    rgb(43,89,135) 0%,
	    rgb(61,143,219) 100%
	);
}

#DiscussionContent div.BiggestButton {
	text-align:center;	
	width:100%;
}

a.BlogCommentCount:hover, a.BiggestButton:hover {
	color: #fff;
   	border:1px solid #045DCD;
	box-shadow: 0 0 10px #447BB3;
	-moz-box-shadow:0 0 10px #447BB3;
	-webkit-box-shadow:0 0 10px #447BB3;	 
}

div.Blogbody {
	text-indent:0em;
	padding:1em;

	font-family:"Verdana",sans-serif;
	font-size:12px;
}

div.Blogbody p {
	padding-bottom:1em;
}

div.Blogbody p:nth-child(1) {
	padding-bottom:0em; /* FIXME: Av någon anledning läggs en extra <p></p> i början av bloggposter. Fin liten fix för detta :D */
}

/* ============================================================= discussions */

#DiscussionForm h2 {
	font-size:19px;
	font-weight:normal;
	line-height:22px;
	padding:7px 0 5px;
	font-family:Arial,Helvetica,sans-serif;
	color:#ababab;
}

#DiscussionForm form {
	padding:20px;
	background:#2f2f2f none repeat scroll 0 0;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	display:block;
	border: 0;
	width:880px;
}

div.GuestBox a.Button, div.GuestBox a.Button:link, div.GuestBox a.Button:visited {
	padding:5px;
	-moz-box-shadow:0 0 0px #fff;
	background:#447BB3;
	border:1px solid #045DCD;
	color:#fff;
	text-shadow:0 1px 0 #376d01;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	background-image: -webkit-gradient(
	    linear,
	    left bottom,
	    left top,
	    color-stop(0, rgb(43,89,135)),
	    color-stop(1, rgb(61,143,219))
	);
	background-image; -moz-linear-gradient(
	    center bottom,
	    rgb(43,89,135) 0%,
	    rgb(61,143,219) 100%
	);
}

div.GuestBox a.Button:hover {
	color: #fff;
   	border:1px solid #045DCD;
	box-shadow: 0 0 10px #447BB3;
	-moz-box-shadow:0 0 10px #447BB3;
	-webkit-box-shadow:0 0 10px #447BB3;	 
}

div.CommentForm textarea {
	height:100px;
	margin:0 0 6px;
	min-height:100px;
	width:912px;
}

li.Editing {
	background:#f2f2f2 none repeat scroll 0 0;
}

li.Editing div.Comment div.CommentForm {
	width:780px;
	float:right;
}

li.Editing div.Comment div.CommentForm textarea {
	width:770px;
}

input#Form_SaveComment.Button.CommentButton{
	margin-right:45px;
}

input.CommentButton {
	padding:5px;
	-moz-box-shadow:0 0 0px #fff;
	background:#447BB3;
	border:1px solid #045DCD;
	color:#fff;
	text-shadow:0 1px 0 #376d01;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	background-image: -webkit-gradient(
	    linear,
	    left bottom,
	    left top,
	    color-stop(0, rgb(43,89,135)),
	    color-stop(1, rgb(61,143,219))
	);
	background-image; -moz-linear-gradient(
	    center bottom,
	    rgb(43,89,135) 0%,
	    rgb(61,143,219) 100%
	);
}

input.CommentButton:hover {
	color: #fff;
   	border:1px solid #045DCD;
	box-shadow: 0 0 10px #447BB3;
	-moz-box-shadow:0 0 10px #447BB3;
	-webkit-box-shadow:0 0 10px #447BB3;	 
}

#DiscussionForm input.InputBox {
	margin-bottom:10px;
	width:880px;
}

#DiscussionForm textarea {
	height:100px;
	margin:0 0 6px;
	min-height:100px;
	width:880px;
}

/* ============================================================== MessageList */
/* used for lists of message-based content (discussion comments, private */
											
ul.MessageList, ul.MessageList li {
	margin:0;
	padding:0;
}

ul.Conversation li {
	margin:0;
}

div.Comment div.CommentForm textarea {
	width:912px;
}

div#MessageForm textarea {
	width:912px;
}

div#MessageForm form#Form_ConversationMessage textarea {
	width:640px;
}

div.Comment, div.ConversationMessage {
	clear:both;
	padding-top:10px;
	padding-bottom:10px;
	overflow:auto;
	min-height:170px; /* FIXME: snälla säg att det finns ett bättre sätt */
}

/*
FIXME: Vet inte riktigt vad som ska vara annorlunda för alternate.. bgcolor ser halvdant ut. */

li.Item:nth-child(even) {
	background:#2d2d2d;
}

li.Item:nth-child(odd) {
	background:#3a3a3a;
}

li.Item:nth-child(1) {
	-webkit-border-top-left-radius: 10px;
	-webkit-border-top-right-radius: 10px;
	-moz-border-radius-topleft: 10px;
	-moz-border-radius-topright: 10px;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
}

li.Item:nth-last-child(1) {
	-webkit-border-bottom-right-radius: 10px;
	-webkit-border-bottom-left-radius: 10px;
	-moz-border-radius-bottomright: 10px;
	-moz-border-radius-bottomleft: 10px;
	border-bottom-right-radius: 10px;
	border-bottom-left-radius: 10px;
}

ul.MessageList li.Item {
	background:none;
}

ul.Blog li.Item {
	padding:10px;
	background:#2f2f2f none repeat scroll 0 0;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	margin-bottom:50px;
}

ul.MessageList li.hiddennotice {
	text-align:center;
	padding:0 10px;
	background:#2f2f2f none repeat scroll 0 0;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
}

ul.MessageList div.Meta span.Author {
	text-align:center;
}

ul.MessageList div.Meta span.Author img {
	height:100px;
	width:100px;
	margin-left:5px;
	margin-right:5px;
}

div.ConversationMessage div.Meta, div.ConversationMessage div.Message {
	margin-top:20px;
}

div.Comment div.Meta, div.ConversationMessage div.Meta, div.BlogAuthor {
	width:110px;
	float:left;
	position:absolute;
	color:#ababab;
	padding:0px 10px 10px 10px;
	margin-left:0px;
	text-align:center;
}

/* Behövs lite valign här för att det ska se fint ut med postare utan avatarer också.. */

div.Blogpost div.Meta {
	margin-top:20px;
	height: 80px;
}

div.Blogpost div.Meta div.BlogAuthor {
	background:#4a4a4a none repeat scroll 0 0;
	padding-bottom:0;

	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
}

div.Blogpost div.Meta div.BlogCommentCount {
	height: 70px;
	padding-top:55px;
	float:right;
}

div.BlogAuthor span img {
	height:50px;
	width:50px;
	margin-left:5px;
	margin-right:5px;
}

div.Comment div.Message {
	float:right;
	width:770px;
	padding:10px;
	margin-right:10px;
	
	font-family:"Verdana",sans-serif;
	font-size:12px;
	line-height:22px;
	
	background:#2f2f2f none repeat scroll 0 0;
	color:#ccc;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
}

div.ConversationMessage div.Message {
	float:right;
	width:520px;
	padding-right:10px;
	
	font-family:"Verdana",sans-serif;
	font-size:12px;
}

div.OptionList {
	text-align:right;
	width:930px;
	height:22px;
}

div.OptionList a {
	font-size:10px;
	margin-right:1em;
}

div.OptionList span.Votes a {
	margin:0;
}

div.NumberedPager {
	margin-top:20px;
	clear:both;
}

div.CommentForm {
	margin-top:20px;
	clear:both;
}

div.Comment div.CommentForm {
	width:912px;
}

h2.DiscussionTitle {
	font-size: 30px;
	margin-left:8px;
	margin-right:8px;
	padding:0.5em;
	border-bottom:0px solid #447BB3;
	text-align:center;
	line-height:35px;
	
		background:#2f2f2f none repeat scroll 0 0;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
}

ul.Blog h2.DiscussionTitle {
	padding:0.2em;	
}

div.Comment span.Permalink, div.ConversationMessage span.Permalink {
	float:left;
	position:absolute;
	margin-left:150px;
	font-size:0.8em;
	font-weight:normal;
}

ul.MessageList div.Comment pre, div.Preview div.Message pre {
	background:0;
	border:0px solid #000;
	padding:0;
}


/* ============================================================= activities */

h2#Notifications {
	margin-top:210px; /* FIXME: number pulled out of my ass */
	color:#ccc; 
}

ul.Activities div.Excerpt a,
ul.Activities div.Meta a {
   color: #ababab;
}
ul.Activities div.Excerpt a:hover,
ul.Activities div.Meta a:hover {
   color: #9e9e9e;
}

ul.Activities ul.DataList li {
	background:#F2F2F2 none repeat scroll 0 0;
	border:1px solid #C4C4C4;
}

ul.Activities li.CommentForm input.Button {
	-moz-box-shadow:0 0 0px #fff;
	font-size:12px;
}

form.Activity textarea {
	width:642px;
}

ul.Activities li.Activity div.Activity {
	margin-left:63px;
	width:618px; // FIXME: Guess where I got these numbers.
}

ul.Activities div.Photo {
	padding:0;
	margin:2px 0 0 5px;
}

body.Profile ul.Activities {
	border:0;
}

div.Profile>div.Photo {
	margin-left:440px;
}


/* ==================================================== New Conversation Form */

#ConversationForm h2 {
	font-size:19px;
	font-weight:normal;
	line-height:22px;
	padding:7px 0 5px;
	font-family:Arial,Helvetica,sans-serif;
	color:#ababab;
}

#ConversationForm form {
	background:#f2f2f2;
	border:1px solid #c4c4c4;
	margin:0;
	padding:20px;
}

.ac_over {
	background:#447BB3;
	color:#ababab;
}

.ac_over strong {
	background:#447BB3;
	font-weight:normal;
}

#MessageForm {
	padding:10px;
	background:#2f2f2f none repeat scroll 0 0;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	display:block;
	margin-bottom:30px;
	border-bottom: 0;
}

#MessageForm h2 {
	color:#ababab;
}

/* ============================================================= profile page */

div.Profile {
	min-height:230px; /* number officially pulled out of my ass */
}

body.Profile #Content {
	float:left;
	width:630px;
}

body.Profile #Panel {



}

div.About {
	float:left;
	position:absolute;
	width:330px; /* number officially pulled out of my ass. Borde passa ~ med defaultsettings på preview... */
}

div.User h1 {
	margin:15px 0 20px 0;
	font-size:19px;
	font-weight:normal;
	line-height:22px;
	font-family:Arial,Helvetica,sans-serif;
	color:#ababab;
}

ul.Conversations div.Photo {
	float:right;
	position:absolute;
	clear:both;
	margin-left:615px; // fulhakk
}

div.Photo img{
	border:1px solid #ababab;
	padding:2px;
	margin-bottom:10px;
	float:right;

}

a.Photo{
	color:#447BB3;
}

ul.DataList div.Photo img {
	border:0px solid #ababab;
	padding:0px;
}

ul.PanelInfo li {
	padding:5px;
}

body.Profile ul.PanelInfo{
	border:0px solid #f2f2f2;
}

body.Profile ul.PanelInfo li {
	background:none;
}

/* två ohyggligt fula Who's Online-bugfixes följer: */

body.Profile div#WhosOnline ul.PanelInfo li {
	text-align:right;
}

body.Profile div#WhosOnline ul.PanelInfo li strong a {
	float:left;
}


body.Profile div#UserOptions ul.PanelInfo li {
	background:none;
	text-align:center; /* Inte jättevackert kanske? */
}

div.Box p {
	color:#aaa;
}

div.Box dl {
	background:none;
	border-bottom:0px solid #c4c4c4;
	border-top:0px solid #c4c4c4;
	overflow:hidden;
	padding:3px;
}

div.Popup div.Body {
	border:0px solid #ababab;
	background:#2a2a2a;
	color:#ccc;
}

div.Popup h1, div.Popup h2 {
	background:#3a3a3a;
	border-bottom:0px solid #ddd;
}

div.Popup .Footer {
	background:#2a2a2a;
	border-top:0px solid #fff;
	padding:2px 6px 0 0;

}

body.Profile #Form_Invitation ul li label, body.Profile #Form_User ul li label, div.Popup form ul li label { /* this override is just plain stupid */
	color:#ccc;
}

/* ============================================================= search */

#Search {	
	padding:10px;

	display:block;
	margin-bottom:30px;
	border-bottom: 0;
}

body.Profile #Search {
	text-align:right;
	padding-right:14px;
}


#Head form input.InputBox {
	background:#FFFFFF;
	border:1px solid #f2f2f2;
	color:#ababab;
	width:10px;
}

#Panel input.InputBox, div.AddPeople textarea.MultiComplete {
	margin:4px 5px 4px 5px;
	width:150px;
}

body.Profile #Panel input.InputBox{
	margin:4px 5px 4px 5px;
	width:150px;
}

input.DateBox, input.InputBox, input.SmallInput, textarea {
	background:#1f1f1f;
	color: #ccc;
	border:1px solid #6a6a6a;
	font-size:12px;
	padding:3px;
}

input.SmallInput:focus,
input.InputBox:focus,
textarea:focus {
   background: #1f1f1f; /* stupid override */
}

/* ============================================================= sidebar */

div.Box {	
	background:none;
	color:#aaa;
	
	-moz-box-shadow: 0px 0px 0px #666; /* stupid overrides */
	-webkit-box-shadow: 0px 0px 0px #666;
	box-shadow: 0px 0px 0px #666;

	-webkit-border-radius: 0px;
	-moz-border-radius: 0px;
	border-radius: 0px;
}

div.Box a, div.Box  a:link, div.Box  a:visited {
	color:#aaa;
}

div.Box a:hover {
	color:#447BB3;
}

#Panel {
	float:right;
	margin-bottom:50px;
	width:230px;
	padding:15px 20px 20px;
}


ul.PanelInfo {
	border-top:0px solid #c4c4c4;
}

ul.PanelInfo li.Active {
	background:none;
	border-bottom:0px solid #C4C4C4;
}

ul.PanelInfo li {
	background:none;
	border-bottom:0px solid #c4c4c4;
}

ul.PanelInfo li.Active a {
	color:#fff;
	font-weight: bold;
}

ul.PanelInfo div.Meta strong {
	background:#447BB3;
	color:#aaa;
}

/* ============================================================= footer */

#Foot {
	background:none;
	clear:both;
	color:#70727C;
}

#Foot a, #Foot a:link, #Foot a:visited, #Foot a:active {
	color:#ababab;
}

#Foot a:hover{
	color:#9e9e9e;
	/*text-decoration:underline;*/
}
#Foot .vanilla-ico {
	background:url(vanilla_ico.png) no-repeat;
	float:left;
	width:15px;
	height:15px;
	margin:0;
	padding:0 7px 7px 0;
}

.Foot {
	background:none;
	border-bottom:0px solid #c4c4c4;
}

#Foot div {
	margin:0 0 20px 20px;
	padding:6px 0;
	text-align:left;
	width:960px;
}

/* ============================================================= plugins */

/*file uplaod*/
div.Attachments {
	background-color:#f2f2f2;
}
